.catalogue-desc {
  margin-top: 60px;
  margin-bottom: 84px;
  p {
    @include font-size($fs: 12, $ff: PTR, $sm: subpixel-antialiased);
    color: $grey-text;
    @media screen and (max-width: 575px) {
      margin-left: 20px;
      font-size: 15px;
    }
  }
}

.catalogue-item-container {
  column-count: 2;
  column-gap: 30px;
  column-fill: balance;
  @media screen and (max-width: 768px) {
    column-count: 1;
  }
}

.catalogue-item {
  display: inline-block;
  background: $light-text;
  border-top: 2px solid $red;
  padding: 30px 20px;
  margin-bottom: 30px;
  break-inside: avoid;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  h4 {
    @include font-size($fs: 25, $ff: PTP, $sm: subpixel-antialiased);
    color: $headline-color;
    margin-bottom: 45px;
    cursor: default;
    @media screen and (max-width: 991px) {
      font-size: 25px;
    }
    span {
      color: $grey99;
      font-size: 24px;
      margin-left: 10px;
    }
  }
}

.catalogue-item-body {
  .file {
    width: 100%;
    max-width: 100%;
    color: $dark-text;
    @include font-size($fs: 13, $ff: PTR, $sm: subpixel-antialiased);
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    h3 {
      margin-bottom: 16px;
      color: $dark-text;
      @include font-size($fs: 14, $ff: PTP, $sm: subpixel-antialiased);
      @media screen and (max-width: 991px) {
        font-size: 18px;
      }
    }
    p {
      margin-bottom: 0;
      color: $grey99;
      @include font-size($fs: 11.3, $ff: PTR, $sm: subpixel-antialiased);
      @media screen and (max-width: 991px) {
        font-size: 15px;
      }
    }

    .pdf {
      height: 35px;
    }
  }
}

.main-section-catalog {

  &::before {
    background-position: -200px 100px;
  }

  &::after {
    background-position: right 120px;

    @media screen and (max-width: 1199px) {
      content: '';
      background-position: center 120px;
    }
  }
}

.catalogue-section {

  @media screen and (max-width: 767px) {
    padding: 0 10px;
  }
}
