.section-code {
  margin-top: 30px;

  @media screen and (max-width: 767px) {
    padding: 0 10px;
  }

  .code-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    .list-item {
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      background: $code-bg;

      @media screen and (max-width: 767px) {
        padding: 10px;
      }

      &:last-child {
        margin-bottom: 50px;
      }
      p {
        @include font-size($fs: 14, $ff:PTP, $sm: subpixel-antialiased);
        color: $dark-text;
      }
      .code-links {
        display: flex;
        justify-content: flex-end;
        a {
          color: $grey99;
          margin-left: 45px;

          @media screen and (max-width: 767px) {
            margin-left: 15px;
          }

          &:not(.comments) {
            text-decoration: underline;
          }
          &.comments {
            i {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
