.complaint-post-header-top {
  .row {
    flex-direction: column;
  }
  .breadcrum {
    margin-bottom: 40px;
  }
  .complaint-headline {
    display: flex;
    justify-content: space-between;
    h2 {
      margin: 10px 0;
      font-size: 36px;
      cursor: default;
    }
    .comments {
      margin-bottom: 28px;
    }
    .complaint-headline-info {
      position: relative;
      .comments {
        @include font-size($fs: 8.5, $ff: PTR, $sm: subpixel-antialiased);
        color: $grey-text;
        span {
          margin-right: 12px;
        }
        a {
          color: $grey-text;
          margin-right: 16px;
          &:hover {
            color: $red;
          }
        }
        i {
          margin-right: 3px;
        }
      }
    }
    .solved-btn {
      .solved {
        position: inherit;
        font-size: 28px;
        padding: 5px 25px;
        max-height: 46px;
        min-height: 46px;
        min-width: 166px;
        max-width: 166px;
        @media screen and (max-width: 991px) {
          font-size: 20px;
        }
      }
    }
  }
}

.complaint-text-section {

  @media screen and (max-width: 767px) {
    padding: 0 10px;
  }

  .short-info {
    width: 100%;
    border: 1px solid $red;
    padding: 37px 15px;
    margin: 25px 0;
    p {
      @include font-size($fs: 12, $ff: PTR, $sm: subpixel-antialiased);
      color: $grey99;
      margin-bottom: 5px;

      span {
        @include font-size($fs: 12, $ff: PTB, $sm: subpixel-antialiased);
        margin-left: 10px;
      }
    }
  }
  .text {
    @include font-size($fs: 11.3, $ff: PTR, $sm: subpixel-antialiased);
    color: $grey99;
  }
  .show-more {
    width: 100%;
    text-align: right;
    margin-top: 15px;
    i {
      margin-left: 5px;
    }
  }
}

.resolution-section {
  .section {
    padding: 15px 30px 45px 30px;
    background: $form-bg;
    h2 {
      @include font-size($fs: 18.5, $ff: PTP, $sm: subpixel-antialiased);
      margin: 20px 0;
    }
    .resolution-text {
      margin-top: 15px;
      margin-bottom: 66px;
      @include font-size($fs: 11.3, $ff: PTR, $sm: subpixel-antialiased);
      color: $grey99;
    }
    .subscribers {
      display: flex;
      width: 55%;
      justify-content: space-between;
      @include font-size($fs: 12, $ff: PTB, $sm: subpixel-antialiased);
      color: #3a3a3a;
    }
  }
}

@media screen and (max-width: 767px) {
  .resolution-section h4 {
    margin-left: 0;
  }

  .resolution-section .section>.subscribers {
    width: 85%;
  }
  #disqus_thread {
    margin-left: 20px;
  }
}

#disqus_thread {
  margin-top: 60px;
  margin-bottom: 20px;
  width: 95%;
}
