.section-results {
  margin-bottom: 20px;
  @media screen and (max-width: 991px) {
    margin-bottom: 0;
  }
}

.section-main-page-news {
  .main-page-news-top {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 991px) {
      flex-direction: column;
    }
    .news-card-big {
      width: 64.5%;
      height: auto;
      @media screen and (max-width: 991px) {
        width: 100%;
        height: 300px;
      }
      h4 {
        @media screen and (max-width: 768px) {
          font-size: 25px;
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      width: 33%;
      @media screen and (max-width: 991px) {
        width: 100%;
        flex-direction: row;
        margin-top: 20px;
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      .news-card-small {
        max-height: 225px;
        min-height: 225px;
        @media screen and (max-width: 768px) {
          min-height: 300px;
        }
        h4 {
          font-size: 26px;
          @media screen and (max-width: 991px) {
            font-size: 20px;
          }
          @media screen and (max-width: 768px) {
            font-size: 40px;
          }
          @media screen and (max-width: 768px) {
            font-size: 25px;
          }
        }
      }
      .some-information {
        height: auto;
        border: $red 1px solid;
        padding: 20px 25px;
        margin-top: 30px;
        @media screen and (max-width: 991px) {
          margin-top: 0;
          margin-left: 20px;
        }
        @media screen and (max-width: 768px) {
          margin-left: 0;
          margin-top: 20px;
        }
        p {
          @include font-size($fs: 14.5, $ff: PTR, $sm: subpixel-antialiased);
          color: $grey100;
          margin-bottom: 5px;

          @media screen and (max-width: 767px) {
            font-size: 18px;
          }
        }
      }
    }
  }
  .show-more-wrap {
    margin-top: 20px;
  }
}

.main-page-news-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;

  @media screen and (max-width: 768px) {
    justify-content: space-around;
  }

  .news-card {
    height: auto;
    max-width: 550px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    @media screen and (max-width: 1199px) {
      max-width: 468px;
      display: none;
    }
    @media screen and (max-width: 991px) {
      margin-top: 15px;
      height: 250px;
    }
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
    h4 {
      width: 100%;
      margin: 0;
      @include font-size($fs: 19, $ff: PTP, $sm: subpixel-antialiased);
      @media screen and (max-width: 991px) {
        font-size: 25px;
      }
    }
    .date {
      color: #fff;
    }
  }
}

.section-events {
  .show-more-wrap {
    margin-top: 20px;
  }
}

.event-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .simple-card {
    max-width: 370px;
    flex-grow: 1;
    width: auto;
    background: $light-text;
    margin-bottom: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (max-width: 1199px) {
      max-width: 49%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 0;
      margin-bottom: 40px;
      max-width: 100%;
    }

    &-image {
      max-width: 100%;
    }

    h4 {
      margin-top: 0;
      margin-right: 20px;
      margin-left: 20px;
      @include font-size($fs: 16, $ff: PTP, $sm: subpixel-antialiased);

      @media screen and (max-width: 1199px) {
        font-size: 20px;
      }
    }
    .date {
      color: $grey-text;
      margin-right: 20px;
      align-self: flex-end;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {

      &:last-child {
        display: none;
      }
    }
  }
}

.section-blogs {

  .blog-title {
    @include font-size($fs: 25, $ff: PTP, $sm: subpixel-antialiased);
    color: $headline-color;
    margin-bottom: 45px;
    cursor: default;
  }

  @media screen and (max-width: 767px) {
    padding: 0 10px;
  }

  .blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .news-card {
    background-size: cover;
    width: 48.5%;
    height: auto;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 30px;
    min-height: 300px;
    justify-content: flex-end;
    @media screen and (max-width: 1199px) {
      width: 48%;
    }
    @media screen and (max-width: 991px) {
      width: 47.5%;
    }
    @media screen and (max-width: 768px) {
      width: 46.5%;
    }
    @media screen and (max-width: 575px) {
      width: 100%;
    }
    .date {
      color: #fff;
      font-size: 14px;
    }
    h4 {
      width: 100%;
      font-size: 30px;
      margin-top: 15px;
      @media screen and (max-width: 768px) {
        font-size: 25px;
      }
    }
    &:nth-child(odd) {
      margin-right: 30px;
      @media screen and (max-width: 575px) {
        margin-right: 0;
      }
    }
    &:nth-child(-2n) {
      @media screen and (min-width: 576px) {
        margin-bottom: 0;
      }
    }
  }
}

.section-library {
  .section {
    background: $light-text;
    padding: 0 20px;
    padding-bottom: 30px;
  }
  .files {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;

    @media screen and (min-width: 768px) and (max-width: 991px) {
      justify-content: flex-start;
    }
  }
  .show-more-wrap {
    margin-top: 0;

    a {
      color: #777;
    }
  }
}

.section-month-topic {
  .section {
    padding-bottom: 57px;
  }
  .main-page-news-bottom {
    margin-top: 0;

    .simple-card {

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        max-width: 49%;

        &-image {
          background-size: cover;
          width: 100%;
        }
      }
    }
  }
}

.file {
  @include font-size($fs: 11, $ff: PTR, $sm: subpixel-antialiased);
  color: $dark-text;
  max-width: 220px;
  width: 100%;
  flex-grow: 1;
  position: relative;
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  @media screen and (max-width: 767px) {
    max-width: 100%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 225px;
  }

  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }

  &:nth-child(9) {

    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  @media screen and (max-width: 1023px) {
    font-size: 16px;
    padding-right: 5px;
  }
}

.pdf {
  margin-right: 17px;
  width: 31px;
  height: 36px;
  background-repeat: no-repeat;
  flex: 0 0 auto;
}

.main-section {
  z-index: 1;
  position: relative;
  background-color: $light-grey;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../../../assets/images/header-left.png');
    display: block;
    z-index: -1;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-position: left bottom;

    @media screen and (max-width: 1199px) {
      content: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    background-image: url('../../../assets/images/header-right.png');
    display: block;
    z-index: -1;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-position: right bottom;

    @media screen and (max-width: 1199px) {
      content: none;
    }
  }

  &-header-wrapper {
    background-color: #fff;
    width: 100%;
  }

  &-wrapper-content {
    min-height: 210px;
    width: 100%;

    @media screen and (max-width: 767px) {
      padding: 0 10px;
    }

    h4 {
      margin-top: 50px;
      @include font-size($fs: 25, $ff: PTP, $sm: subpixel-antialiased);
      color: $headline-color;
      margin-bottom: 45px;
      cursor: default;

      @media screen and (max-width: 991px) {
        font-size: 25px;
      }

      span {
        color: $grey99;
        font-family: inherit;
        font-size: inherit;
      }
    }

    .complaint-headline {
      padding-top: 30px;
      padding-bottom: 10px;
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      h2 {
        margin: 10px 0;
        font-size: 36px;
        cursor: default;
      }
      .comments {
        margin-bottom: 28px;
      }
      .complaint-headline-info {
        position: relative;
        .comments {
          @include font-size($fs: 8.5, $ff: PTR, $sm: subpixel-antialiased);
          color: $grey-text;
          span {
            margin-right: 12px;
          }
          a {
            color: $grey-text;
            margin-right: 16px;
            &:hover {
              color: $red;
            }
          }
          i {
            margin-right: 3px;
          }
        }
      }
      .solved-btn {
        .solved {
          position: inherit;
          font-size: 28px;
          padding: 5px 25px;
          max-height: 46px;
          min-height: 46px;
          min-width: 166px;
          max-width: 166px;
          @media screen and (max-width: 991px) {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.post-no-author-section {

  @media screen and (max-width: 767px) {
    padding: 0 10px;
  }
}
