.list-of-authors-section {
  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 70px;

    @media screen and (max-width: 767px) {
      padding: 0 10px;
    }
    .list-item {
      margin-bottom: 20px;
      background: $code-bg;
      width: 100%;
      display: flex;
      .avatar-left {
        align-self: center;
        .avatar {
          width: 155px;
          height: 155px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center 0;

          @media screen and (max-width: 510px) {
            height: 100px;
            width: 100px;
            margin-left: 10px;
          }
        }
      }
      .user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
        &-name {
          @include font-size($fs: 23, $ff: PTP, $sm: subpixel-antialiased);
          color: $headline-color;
          @media screen and (max-width: 768px) {
            font-size: 25px;
          }
        }
        &-info {
          @include font-size($fs: 11, $ff: PTR, $sm: subpixel-antialiased);
          color: $grey100;
        }
      }
      .list-right {
        width: 100%;
        align-self: center;
        display: flex;
        flex-direction: column;
      }
      .list-link {
        text-align: right;
        align-self: flex-end;
        margin-bottom: 10px;
        margin-right: 20px;
        color: $grey99;
        @include font-size($fs: 9.5, $ff:PTR, $sm: subpixel-antialiased);
        a {
          margin: 0 5px;
          text-decoration: underline;
          color: $grey99;
          @include font-size($fs: 9.5, $ff:PTR, $sm: subpixel-antialiased);
        }
        i {
          color: $grey99;
          margin-right: 5px;
        }
      }
    }
  }
}
