.complaints-list {
  margin-top: 45px;
  margin-bottom: 25px;
  width: 100%;

  @media screen and (max-width: 767px) {
    padding: 0 10px;
  }
  .list-item {
    margin-bottom: 20px;
    display: flex;
    @media screen and (max-width: 498px) {
      flex-direction: column;
    }
    &-left {
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      background: $code-bg;
      position: relative;
      @media screen and (max-width: 498px) {
        width: 100%;
      }
      h4 {
        width: 70%;
        padding: 20px 0;
        @include font-size($fs: 18.5, $ff:PTP, $sm: subpixel-antialiased);
        color: $dark-text;
        @media screen and (max-width: 768px) {
          width: 100%;
          font-size: 25px;
        }
      }
      p {
        @include font-size($fs: 11, $ff:PTR, $sm: subpixel-antialiased);
        color: $grey99;
      }
      .list-item-bottom>span {
        color: $footer-color;
        @include font-size($fs: 10, $ff: PTR, $sm: subpixel-antialiased);
        font-weight: 600;
        margin-right: 55px;
      }
    }
    &-right {
      width: 19%;
      display: flex;
      flex-direction: column;
      background: $light-text;
      padding: 25px 30px;
      @media screen and (max-width: 1199px) {
        width: 24%;
      }
      @media screen and (max-width: 768px) {
        width: 30%;
      }
      @media screen and (max-width: 498px) {
        width: 100%;
        flex-direction: row;
      }
      @media screen and (max-width: 350px) {
        flex-direction: column;
      }
      span {
        margin-bottom: 5px;
      }
      .solved {
        position: relative;
        margin-bottom: 20px;
        @media screen and (max-width: 498px) {
          align-self: center;
        }
        @media screen and (max-width: 350px) {
          align-self: flex-start;
        }
      }
      .name,
      .info {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 498px) {
          margin: 0 20px;
        }
        @media screen and (max-width: 350px) {
          margin: 0;
        }
      }
      .name {
        span:first-child {
          font-family: 'PTSans-Bold';
        }
      }
    }
  }
}
