.news-post {
  background-size: cover;
  background-repeat: no-repeat;
  .breadcrum a,
  .breadcrum span,
  h4,
  .user-desc,
  .comments .date,
  .comments,
  .comments a {
    color: #fff;
    z-index: 99;
  }
  .breadcrum {
    z-index: 99;
  }
  .comments {
    @media screen and (max-width: 768px) {
      margin-top: 20px;
      align-self: flex-end;
    }
    @media screen and (max-width: 575px) {
      margin-right: 20px;
    }
    a,
    span {
      font-size: 16px;
      margin-left: 10px;
      @media screen and (max-width: 991px) {
        font-size: 12px;
      }
    }
    i {
      margin-right: 4px;
    }
    .date {
      display: block;
      text-align: right;
      margin-bottom: 15px;
    }
  }
  h4 {
    width: 75%;
    cursor: default;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }
  .breadcrum {
    margin-bottom: 325px;
  }
  .header-news-headline {
    padding-bottom: 20px;
  }
  .news-post-header-bottom {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  .user-block {
    position: relative;
    top: 0;
    .user-name {
      display: inline-block;
    }
  }
}

.news-post-section {
  .post-short-desc {
    width: 100%;
  }
}

.post-nav {
  position: relative;
}
