header.header-post {
  nav {
    background: #fff;
  }
}

.header-post-bottom {
  position: relative;
  min-height: 200px;
  width: 100%;
}

.user-avatar-block {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 30px;
  margin-bottom: -30px;

  @media screen and (max-width: 767px) {
    margin-bottom: 0;
    justify-content: center;
  }

  .avatar {
    max-width: 160px;
    min-width: 160px;
    max-height: 160px;
    min-height: 160px;
    border: 1px solid $red;
  }
  .user {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    &-name {
      @include font-size($fs: 23, $ff: PTP, $sm: subpixel-antialiased);
      color: $headline-color;

      @media screen and (max-width: 767px) {
        text-align: center;
      }

    }
    &-info {
      @include font-size($fs: 11, $ff: PTR, $sm: subpixel-antialiased);
      color: $headline-color;

      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }
  }
}

.section-post {
  padding: 70px 0;
  p {
    color: $grey99;
    @include font-size($fs: 11, $ff: PTR, $sm: subpixel-antialiased);
    @media screen and (max-width: 767px) {
      padding: 0 10px;
    }
  }
}
