.post {
  display: flex;
  flex-direction: column;

  &-short-desc {
    align-self: center;
    padding: 45px 25px 35px 25px;
    margin: 55px 0;
    border: 1px solid $red;
    @include font-size($fs: 12, $ff: PTP, $sm: subpixel-antialiased);
    color: $dark-text;

    @media screen and (min-width: 768px) and (max-width: 1799px) {
      // margin: 55px 10px;
      width: 95%;
      margin: 55px auto;
    }
  }
  p,
  ul>li,
  span {
    @include font-size($fs: 11.3, $ff: PTR, $sm: subpixel-antialiased);
    color: $grey99;
  }
  span {
    font-family: 'PTSans-Bold';
  }
  ul {
    padding-left: 22px;
    margin-bottom: 38px;
  }
  img {
    margin: 50px 0;
    max-width: 100%;
    height: auto;
  }
}
