button.button {
  outline: none;
  border-color: transparent;
}

.btn-subscribe {
  @include font-size($fs: 12, $ff: PTR, $sm: subpixel-antialiased);
  @include button($bg: $dark-grey-text, $textcolor: #fff, $size: 18px);
  max-width: 115px;
  min-height: 34px;
  padding: 5px;
}

.button-search,
.button-complaint {
  min-height: 60px;
  max-height: 60px;
  min-width: 190px;
  @include font-size($fs: 15, $ff: PTB, $sm: subpixel-antialiased);
  text-align: center;
  margin-top: 10px;
  width: auto;
  margin-left: 10px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    font-size: 20px;
  }
}

.button-search {
  padding: 11px 30px;
  @include button($bg: $red, $textcolor: #fff, $size: 18px);

  i {
    padding-right: 10px;
  }
}

.button-complaint {
  padding: 11px 17px;
  @include button($bg: $dark-btn, $textcolor: #fff, $size: 18px);
}

.considered,
.solved {
  min-width: 83px;
  max-width: 83px;
  max-height: 23px;
  min-height: 23px;
  position: absolute;
  top: 0;
  right: 0;
  @include font-size($fs: 8, $ff:PTR, $sm: subpixel-antialiased);
  color: #fff;
  text-align: center;
  padding: 2px;
}

.considered {
  background-color: $red;
}

.solved {
  background-color: $green;
}

.button-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button-upload,
.button-supply {
  @media screen and (max-width: 767px) {
    margin-left: 0;
  }
}

.article-media {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px 0;
  .row {
    justify-content: flex-end;
    @media screen and (max-width: 343px) {
      justify-content: flex-start;
    }
  }
  .article-social-media {
    padding-top: 25px;
    align-self: flex-end;
    @media screen and (max-width: 343px) {
      width: 75%;
      margin-left: 20px;
    }

    a {
      padding: 8px;
      font-size: 16px;
      text-align: center;
      margin: 3px;
      color: #fff;
      width: 30px;
      height: 30px;

      &:hover {
        opacity: 0.7;
      }
    }

    .fa-facebook-f {
      background: #3B5998;
    }

    .fa-twitter {
      background: #55ACEE;
    }

    .fa-google {
      background: #dd4b39;
    }

    .fa-vk {
      background: #6383a8;
      padding: 8px 5px;
    }

    .fa-odnoklassniki {
      background: #d57819;
    }

    .fa-at {
      background: #165496;
    }
  }
  .guantity {
    margin-right: 7px;
    padding: 9px 5px 4px 5px;
    max-height: 30px;
    font-size: 12px;
    font-family: 'OpenSans-Regular';
    background: #ebebeb;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background: #ebebeb;
      top: 50%;
      left: -10%;
      width: 4px;
      height: 2px;
    }
  }
}
