.result-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media screen and (max-width: 991px) {
    flex-wrap: wrap;
  }

  .card {
    max-width: 270px;
    min-width: 270px;
    max-height: 210px;
    min-height: 210px;
    overflow: hidden;
    border: none;
    border-radius: 0;
    padding: 20px;
    background-color: $light-text;
    position: relative;
    @media screen and (max-width: 1199px) {
      max-width: 232px;
      min-width: 232px;
      max-height: 240px;
      min-height: 240px;
      margin-right: 10px;
    }
    @media screen and (max-width: 991px) {
      min-width: 48%;
      max-width: 48%;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 499px) {
      min-width: 100%;
      min-height: 150px;
    }

    h2 {
      margin-top: 15px;
      line-height: 0.8;
      a {
        color: $headline-color;
        @include font-size($fs: 12, $ff:PTP, $sm: subpixel-antialiased);
      }
    }

    p {
      @include font-size($fs: 10, $ff:PTR, $sm: subpixel-antialiased);
      color: $grey99;
      margin-top: 15px;

      a {
        @include font-size($fs: 10, $ff:PTB, $sm: subpixel-antialiased);
        color: $grey-text;
        margin-left: 5px;
        &:hover {
          color: $headline-color;
          transition: all .25s ease-in;
        }
      }
    }
  }
}

.date {
  @include font-size($fs: 8.5, $ff:PTR, $sm: subpixel-antialiased);
  color: $grey-text;
}

.news-card {
  background: $logo-color no-repeat center;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::after {
    background: transparent;
    background: -moz-linear-gradient(bottom, rgba(46, 47, 50, 0.9) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: -webkit-gradient(left bottom, left bottom, color-stop(0%, rgba(255, 0, 0, 0.9)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(bottom, rgba(46, 47, 50, 0.9) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: -o-linear-gradient(bottom, rgba(46, 47, 50, 0.9) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: -ms-linear-gradient(bottom, rgba(46, 47, 50, 0.9) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: linear-gradient(to top, rgba(46, 47, 50, 0.9) 0%, rgba(0, 0, 0, 0.1) 50%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  h4 {
    align-self: flex-end;
    width: 83%;
    margin-left: 20px;
    @include font-size($fs: 25, $ff:PTP, $sm: subpixel-antialiased);
    color: #fff;
    z-index: 99;
  }
}

.show-more-wrap {
  width: 100%;
  text-align: right;
  .show-more {
    font-size: 24px;
    i {
      font-size: 18px;
    }
  }
}

.show-more {
  @include font-size($fs: 11, $ff: PTB, $sm: subpixel-antialiased);
  color: $light-grey-text;
  i {
    color: $red;
  }
  &:hover {
    color: $red;
    transition: all .15s ease-in .15s;
  }
}

.simple-card {
  max-width: 270px;
  width: 100%;
  flex-grow: 1;
  position: relative;

  @media screen and (max-width: 767px) {
    max-width: 100%;
    margin-bottom: 40px;
  }

  &-image {
    max-height: 185px;
    min-height: 185px;
    max-width: 100%;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .date {
    color: $dark-text;
  }
  h4 {
    @include font-size($fs: 13, $ff: PTP, $sm: subpixel-antialiased);
    color: $dark-text;
    margin: 15px 0;

    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
  p {
    @include font-size($fs: 9.5, $ff: PTR, $sm: subpixel-antialiased);
    color: $grey99;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.user-block {
  position: absolute;
  top: 7%;
  display: flex;
  width: auto;
  max-width: 50%;
  z-index: 99;
  @media screen and (max-width: 991px) {
    max-width: 100%;
  }
  img {
    margin-right: 5px;
    min-width: 52px;
    max-width: 52px;
    max-height: 52px;
    min-height: 52px;
    border: 1px solid $red;
  }
  .user-name {
    @include font-size($fs: 9.5, $ff: PTB, $sm: subpixel-antialiased);
    color: $red;
    background: #fff;
    margin-top: 1px;
    padding: 2px;
    max-height: 25px;
    min-height: 25px;
    overflow: hidden;
  }
}

.entire-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 100;
}

.section-news-blogs {
  margin-top: 45px;
}
