.carousel-wrapper {
  position: relative;

  .slider-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    .news-postss {
      padding-bottom: 20px;
      section {
        width: 100%;
      }
    }

    .non-after {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      &::before, &::after {
       content: none;
      }

      &::after {
        content: '';
        background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 50%);
      }

      .header-news-headline {
        width: 100%;

        .breadcrum {

          > * {
            color: #fff;
          }
        }

        .user-block {
          position: relative;
        }

        .headline {
          padding-top: 300px;

          h4 {
            color: #fff;
            font-family: 'PTSerifPro';
            font-size: 48px;
            margin: 20px 0;
            max-width: 750px;

            @media screen and (max-width: 767px) {
              font-size: 24px;
            }
          }
        }

        .news-post-header-bottom {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          flex-wrap: wrap;

          .user-name {
            background-color: #fff;
            width: auto;
            display: inline-block;
          }

          .user-desc {
            color: #fff;
            font-size: 16px;
            font-family: 'PTSans-Regular';
            width: 100%;
          }

          .comments {
            text-align: right;

            @media screen and (max-width: 767px) {
              text-align: left;
            }

            span, a {
              color: #fff;
              font-size: 16px;
              margin-right: 10px;
              font-family: 'PTSans-Regular';

              i {
                margin-right: 5px;
              }
            }

            .date {
              display: block;
            }
          }
        }
      }
    }

    .arrow-block {
      top: 45%;
      transform: translateY(-45%);
      position: absolute;
      max-width: 225px;
      max-height: 185px;

      @media screen and (max-width: 767px) {
        display: none;
      }

      @media screen and (min-width: 1800px) {
        top: 55px;
        transform: none;
      }

      p {
        @include font-size($fs: 12, $ff: PTP, $sm: subpixel-antialiased);
        color: $dark-text;
      }
      &-body {
        position: relative;
        .arrow {
          position: absolute;
          top: 42%;
          height: 25px;
          width: 25px;
          border: 4px solid #8b8b8b;
          border-width: 4px 4px 0 0;
          display: block;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          &.arrow-prev {
            left: -9%;
            transform: rotate(225deg);
            @media screen and (max-width: 991px) {
              left: -12%;
            }
          }

          &.arrow-next {
            right: -9%;
            transform: rotate(45deg);
            @media screen and (max-width: 991px) {
              right: -12%;
            }
          }
        }
        &.light {
          color: white;

          .arrow {
            background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-light.png") 50% 50% / 20px no-repeat;
          }
        }

        @media (max-width: 480px) {
          .arrow,
          &.light .arrow {
            background-size: 10px;
            background-position: 10px 50%;
          }
        }
      }
      &-body-text {
        background: $light-text;
        padding: 15px;

        @media screen and (max-width: 1799px) {
          display: none;
        }
      }
    }

    .arrow-block-left {
      left: -50px;

      @media screen and (min-width: 1800px) {
        left: -250px;
      }

      @media screen and (min-width: 768px) and (max-width: 1799px) {
        left: -10px;
      }
    }

    .arrow-block-right {
      right: -50px;

      @media screen and (min-width: 1800px) {
        right: -250px;
      }

      @media screen and (min-width: 768px) and (max-width: 1799px) {
        right: -10px;
      }
    }
  }

  [id^="target-item"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
  }

  *:target~.item-1 {
    opacity: 0;
  }

  #target-item-1:target~.item-1 {
    opacity: 1;
  }
  #target-item-2:target~.item-2,
  #target-item-3:target~.item-3 {
    z-index: 3;
    opacity: 1;
  }
}
