.complaint-form-header {
  nav {
    background: #fff;
  }
}

.complaint-form-header-bottom {
  position: absolute;
  z-index: -1;
  min-height: 380px;
  width: 100%;
}

.complaint-form-section {
  margin-top: -130px;
  margin-bottom: 27px;
  position: relative;
  z-index: 1;

  .section {
    margin: 0;
    background: $form-bg;
    padding: 0 20px;
    padding-bottom: 47px;

    form {
      label {
        width: 100%;
        margin-bottom: 13px;
      }

      .multiple-select {
        display: flex;
      }

      textarea {
        width: 100%;
        padding: 15px 18px;
        outline: none;
        border: none;
        @include font-size($fs: 15, $ff: PTR, $sm: subpixel-antialiased);
        color: $grey-text;
        resize: none;
        overflow: auto;
        min-height: 148px;
        margin-bottom: 17px;
        margin-top: 5px;
        @media screen and (max-width: 768px) {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.multiple-select {
  margin-top: 5px;
  margin-bottom: 13px;
  span,
  li {
    @include font-size($fs: 15, $ff: PTR, $sm: subpixel-antialiased);
    color: $grey-text;
  }
  .nice-select {
    min-height: 60px;
    max-height: 60px;
    width: auto;
    flex-grow: 1;
    padding: 17px 30px 17px 17px;
    ul {
      width: 100%;
    }
  }
  div:not(:first-of-type) {
    margin-left: 10px;
  }
}

.file-label {
  align-self: flex-end;
  label[for="file"] {
    color: #2f6ec4;
    text-decoration: underline;
    cursor: pointer;
    @include font-size($fs: 15, $ff: PTR, $sm: subpixel-antialiased);
    i {
      color: #000;
      margin-left: 5px;
    }
    input {
      display: none;
    }
  }
}

.new-complaint-form {
  .form-label {
    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
  }
  .multiple-select {
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
    .file-label {
      @media screen and (max-width: 768px) {
        margin-top: 15px;
        width: 100%;
        text-align: right;
      }
    }
    .nice-select {
      @media screen and (max-width: 417px) {
        width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
      }
    }
    .datepicker-container {
      input {
        min-height: 60px;
        max-height: 60px;
        border: none;
        сolor: $grey-text;
        margin: 0;
      }
      @media screen and (max-width: 768px) {
        margin: 0;
      }
    }
  }
}

label[for="datepicker"] {
  i {
    position: absolute;
    top: 33%;
    right: 8%;
    font-size: 20px;
  }
  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
}

.author-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media screen and (max-width: 1199px) {
    justify-content: center;
  }

  .form-item {
    max-width: 350px;
    flex-grow: 1;
    margin-right: 15px;

    @media screen and (max-width: 991px) {
      max-width: 300px;
    }

    label {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }

  .multiple-select {
    width: 100%;
    margin-top: 0;

    @media screen and (max-width: 1199px) {
      flex-grow: 1;
      max-width: 350px;
      margin-right: 15px;
    }

    @media screen and (max-width: 767px) {
      margin-right: 0;
    }

    @media screen and (max-width: 991px) {
      max-width: 300px;
    }

    .nice-select {
      max-width: 350px;
    }
  }

  .button-wrap {

    @media screen and (max-width: 1199px) {
      max-width: 350px;
      width: 100%;

      button {
        width: 100%;
        margin: 0;
      }
    }

    @media screen and (max-width: 991px) {
      max-width: 300px;
    }
  }
}
