footer {
  background: $footer-color;
  border-top: 2px solid $red;

  .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 95px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
    }

    .footer-left {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }

      span:not(.logo-letter),
      .logo:after {
        color: $light-grey-text;
      }

      .logo {
        margin-bottom: 23px;
        &:after {
          left: 3%;
        }
      }

      span:not(.logo-letter) {
        font-size: 14px;
        font-family: 'PTSans-Regular';
      }

      .author {
        color: $red;
      }
    }

    .footer-middle {
      width: 45%;

      @media screen and (max-width: 767px) {
        width: 100%;
      }

      .nav {
        @include font-size($fs: 12, $ff: PTR, $sm: subpixel-antialiased);

        li {
          padding-bottom: 18px;
          display: block;
          width: 49%;
          float: left;
        }

        a {
          color: $light-grey-text;
          &:hover {
            color: #fff;
            transition: .35s ease color;
          }
        }
      }
    }

    .footer-right {

      input {
        margin: 0;
      }

      .btn-subscribe {
        margin-top: 15px;
      }

      .social-media {
        margin-top: 22px;
        a {
          color: #fff;
          font-size: 30px;
          margin-right: 16px;
          &:hover {
            color: $red;
            transition: .35s ease color;
          }
        }
      }
    }
  }
}
