.search-section {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 25px 0;

  @media screen and (max-width: 767px) {
    background-image: none !important;
  }

  .row {
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    max-width: 100%;
    min-width: 100%;
    padding-right: 0;

    @media screen and (max-width: 600px) {
      margin: 0 auto;
      max-width: 95%;
      min-width: 95%;
      padding-right: 0;
    }
    .nice-select {
      display: flex;
      justify-content: flex-start;
      flex-grow: 1;
      border-radius: 0;
      min-height: 60px;
      max-height: 60px;
      margin-top: 10px;
      @include font-size($fs: 12, $ff: PTR, $sm: subpixel-antialiased);
      color: $dark-grey-text;

      &:not(:first-of-type) {
        margin-left: 10px;

        @media screen and (max-width: 767px) {
          margin-left: 0;
        }
      }

      &:first-of-type {
        @media screen and (max-width: 767px) {
          margin-left: 0;
        }
      }

      @media screen and (max-width: 767px) {
        width: 100%;
      }

      &::after {
        border-bottom: 3px solid $dark-btn;
        border-right: 3px solid $dark-btn;
      }

      ul {
        width: 100%;
        li {
          width: 100%;
          background: #fff;
          color: $dark-grey-text;
        }
      }
    }

    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;

      label {
        flex: none;
        margin: 0;
        width: 100%;
      }

      button {

        @media screen and (max-width: 767px) {
          margin-left: 0;
        }
      }
    }
  }
  .submit-complaint {
    width: 100%;
    @media screen and (max-width: 991px) {
      width: auto;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

label{
  flex: 1 0 auto;
  position: relative;

  @media screen and (max-width: 991px) {
    margin-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    margin: 10px 0;
    margin-left: 10px;
  }
}

input {
  margin: 5px 0;
  padding: 20px;
  min-height: 60px;
  max-height: 60px;
  width: 100%;
  border: none;
  background-color: #fff;
  @include font-size($fs: 15, $ff: PTR, $sm: subpixel-antialiased);
  color: $dark-grey-text;
  outline: none;

  @media screen and (max-width: 991px) {
    margin: 0;
  }
  &::placeholder {
    @include font-size($fs: 15, $ff: PTR, $sm: subpixel-antialiased);
    color: $dark-grey-text;
  }
}
