.k-header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 10px;
  position: relative;
  background-color: transparent;
  width: 100%;

  @media screen and (max-width: 767px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    display: block;
    border-bottom: 2px solid $red;
  }

  .logo {
    flex-grow: 0;
  }

  .navbar-toggler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;

    i {
      color: $red;
      font-size: 24px;
    }

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    @media screen and (max-width: 1199px) {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      background-color: $light-grey;
      top: 100px;
      z-index: 99;
      padding: 10px 0;
      flex-direction: column;
    }

    .menu-left {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      padding-left: 10px;
      padding-right: 10px;

      @media screen and (max-width: 1199px) {
        width: 100%;
        padding: 0;
      }

      a {
        color: $header-color;
        font-family: 'OpenSans-Regular';
        font-size: 18px;

        &:hover {
          color: $red;
        }

        &:not(:last-child) {
          margin-right: 40px;
        }

        @media screen and (max-width: 1199px) {
          font-size: 24px;
          text-align: center;
          margin: 0 !important;
          padding: 15px 0;
          border-bottom: 1px solid $dark-text;
        }
      }

      @media screen and (max-width: 1199px) {
        flex-direction: column;
      }
    }

    .menu-right {
      display: flex;
      align-items: center;
      flex-grow: 0;

      @media screen and (max-width: 1199px) {
        width: 100%;

        form {
          padding: 15px 0;
          width: 100%;
        }
      }

      .searchbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        margin-right: 25px;
        position: relative;
        min-width: 174px;

        @media screen and (max-width: 1199px) {
          width: 100%;
          justify-content: center;
        }

        #searchbar-input {
          border: 0px solid;
          border-bottom: 2px solid $red;
          font-size: 18px;
          outline: none;
          color: #606060;
          padding-left: 10px;
          background-color: transparent;
          padding: 0;
          padding-left: 10px;
          min-height: 0px;
          display: none;
          position: absolute;
        }

        #searchbar-cross {
          color: $red;
          font-size: 18px;
          cursor: pointer;
          display: none;
          z-index: 1;
          position: relative;
        }

        #searchbar-icon {
          font-size: 20px;
          color: $red;
          border-radius: 50%;
          cursor: pointer;
          display: inline-block;
          position: relative;
          z-index: 1;
        }
      }

      .change-languages {
        border: 1px solid #4e4e4e;
        padding: 7px 8px;
        display: flex;
        align-items: center;
        margin-left: 10px;

        a {
          font-size: 16px;
          font-family: 'OpenSans-Regular';
          color: $dark-btn;
          margin: 2px;

          &:hover {
            opacity: 0.85;
            color: $red;
          }
        }

        .active-language {
          color: $red;
        }

        span {
          font-size: 16px;
          font-family: 'OpenSans-Regular';
          color: $dark-btn;
        }
      }

      @media screen and (max-width: 1199px) {
        flex-direction: column;
        padding: 0 10px;
      }
    }
  }

  .show {
    display: flex;
  }
}
