.text-input {
  position: relative;
  width: 240px;
  display: block;
}

.input {
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid $logo-color;
  padding-bottom: 10px;
  width: 100%;
  &:focus {
    outline: none;
  }
}

.label {
  @include font-size($fs: 11, $ff: PTR, $sm: subpixel-antialiased);
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s cubic-bezier(0, 0, 0.3, 1);
  user-select: none;
  pointer-events: none;
}

.line {
  height: 2px;
  background-color: $red;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  width: 0;
  transition: 0.2s cubic-bezier(0, 0, 0.3, 1);
}

.input:focus~.line,
.input:valid~.line {
  width: 100%;
}

.input:focus~.label,
.input:valid~.label {
  font-size: 12px;
  color: $red;
  top: -50%;
}

//side menu
.side-menu,
.side-menu .side-menu-sub {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
}

.side-menu {
  position: fixed;
  right: 0.1%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  z-index: 9999;
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.side-menu .side-menu-item {
  padding: 10px 15px;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 2px 0 #ccc;

  * {
    cursor: pointer;
  }
}

.side-menu .side-menu-item a {
  display: block;
  width: 40px;
  height: 40px;
  color: $red;
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
  display: flex;
  align-items: center;

  .side-menu-icon {
    width: 40px;
    height: 40px;
  }
}

.side-menu .side-menu-item span {
  padding-left: 50px;
  transition: 0.5s linear;
  margin-left: 10px;
  font-family: 'PTSans-Regular';
  font-size: 15px;
}

.side-menu .side-menu-item:hover {
  min-width: 200px;
  background: #f6f6f6;
  padding-right: 12px;
  color: $red;
  cursor: pointer;
  overflow: visible;
  transition: width .5s ease;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 4px;
    display: block;
    background-color: $red;
  }
}
