.breadcrum {
  margin-top: 47px;
  @include font-size($fs: 11, $ff:OPR, $sm: subpixel-antialiased);
  z-index: 99;
  a {
    color: $header-color;
    &:hover {
      color: $red;
    }
  }
  span {
    color: $grey-text;
  }
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    @include font-size($fs: 15, $ff: PTR, $sm: subpixel-antialiased);
    padding: 0 15px;
    color: $grey-text;
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
    &.active {
      color: $header-color;
    }
    &:hover {
      color: $header-color;
    }
    i {
      padding-left: 10px;
    }
  }
}
