@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../assets/webfonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url('../assets/webfonts/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url('../assets/webfonts/PTSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerifPro';
  src: url('../assets/webfonts/PTSerifPro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionPro-Regular';
  src: url('../assets/webfonts/MinionPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
