//font-size
$default-font-smoothing: subpixel-antialiased !default;

@function px-to-rem($size) {
  @return ($size / 10)+rem;
}

@mixin font-size($fs: false, $ff: font-family, $sm: $default-font-smoothing) {
  @if $ff==OSR {
    font-family: 'OpenSans-Regular';
  }
  @if $ff==PTR {
    font-family: 'PTSans-Regular';
  }
  @if $ff==PTB {
    font-family: 'PTSans-Bold';
  }
  @if $ff==PTP {
    font-family: 'PTSerifPro';
  }
  @if $ff==Minion {
    font-family: 'MinionPro-Regular';
  }
  @if $fs {
    font-size: $fs + px;
    font-size: px-to-rem($fs);
  }
  @if $sm {
    -webkit-font-smoothing: $sm;
  }
}

//@include font-size($fs: 14, $ff:, $sm: subpixel-antialiased);
//btn
@mixin button($bg, $textcolor, $size) {
  background: $bg;
  color: $textcolor;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 10%);
  }
  @if $size==small {
    font-size: 14px;
  }

  @if $size==medium {
    font-size: 24px;
  }

  @if $size==large {}
}

//@include button($bg:, $textcolor:, $size:);
//position
@mixin position($pos: relative, $top: null, $right: null, $bottom: null, $left: null) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
