//colors
$light: #efefef;
$bg-color: #fff;
$red: #e74c2f;
$light-grey: #cecece;
$form-bg: #e7e7e7;
$green: #407958;
$light-text: #eaeaea;
$dark-text: #1a1a1a;
$dark-btn: #302a28;
$logo-color: #9d9c9c;
$header-color: #3b3b3b;
$footer-color: #2e2f32;
$dark-grey-text: #636363;
$light-grey-text: #a0a0a0;
$grey-text: #666;
$headline-color: #060606;
$grey99: #757575;
$grey100: #585858;
$code-bg: #f5f5f5;
$cubic: "cubic-bezier(.77,.06,.28,.85)";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PTSerifPro';
  font-weight: 400;
  color: $headline-color;
  margin: 0;
}

span,
p,
h1 {
  cursor: default;
}

.section {
  border-top: 2px solid $red;
  width: 100%;
  margin-top: 60px;

  @media screen and (max-width: 767px) {
    padding: 10px;
  }

  h4 {
    @include font-size($fs: 22, $ff:PTP, $sm: subpixel-antialiased);
    margin: 20px 0;
  }
}
